  .centrado{
      text-align: center;
      align-items: center;
      list-style-type:none;
    padding-left: 0;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
 
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  background-color: rgb(254, 189, 89);
}

.logo-full {
  width: 60%;
  display:block;
  margin: 0 auto;
      
}

/* NAV */
nav {
  color: white;
  background-color: #222;
}

.lista{
  list-style-type: none;
  font-size: 25px;
}
/* CONTACTO */
.contacto {
  background-color: #257E74;
  text-align: center;
  padding: 2rem;
}


/* FOOTER */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}



    